<div class="internal">
  <div style="font-weight: normal; text-align: left; font-size: 18px">
    {{ page.description }}
    {% if page.video != blank %}
      &nbsp; 
      {% if page.video contains '://' -%}
        <a href="{{ page.video }}" class="badge" role="button"> video </a>
      {% elsif site.external_path == blank %}
        <a href="{{ page.video | prepend: '/assets/meetings/' | relative_url }}" class="badge" role="button"> video </a>
      {%- else -%}
        <a href="{{ page.video | prepend: 'meetings/' | prepend: site.external_path }}" class="badge" role="button"> video </a>
      {%- endif %}
    {%- endif %}
  </div>
  {% for presentor in page.presentors -%}
    <div style="font-weight: normal; text-align: left; font-size: 16px">
      {{ presentor.name }}
      {% if presentor.title != blank %}
        , {{ presentor.title }}
      {% endif %}
      &nbsp; 
      {% if presentor.file contains '://' -%}
        <a href="{{ presentor.file }}" class="badge" role="button"> PPT </a>
      {% elsif site.external_path == blank %}
        <a href="{{ presentor.file | prepend: '/assets/meetings/' | relative_url }}" class="badge" role="button"> PPT </a>
      {%- else -%}
        <a href="{{ presentor.file | prepend: 'meetings/' | prepend: site.external_path }}" class="badge" role="button"> PPT </a>
      {%- endif %}
    </div>
  {% endfor %}
</div>