<div class="card-item col">
  {%- if project.redirect -%}
  <a href="{{ project.redirect }}">
  {%- else -%}
  <a href="{{ project.url | relative_url }}">
  {%- endif -%}
    <div class="card hoverable">
      <div class="row row-cols-2">
        <div class="card-img col-md-4">
          {%- include figure.html
            path=project.img
            alt="project thumbnail" -%}
        </div>
        <div class="card-body col-md-8">
          <h5 class="card-title text-lowercase">{{ project.title }}</h5>
          <p class="card-text">{{ project.description }}</p>
        </div>
      </div>
    </div>
  </a>
</div>
